services:
    postgres:
        image: postgres:17
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: pass
        ports:
            - "5432:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 10s
            retries: 3
        volumes:
            - pgdata:/var/lib/postgresql/data
        networks:
            - chatapp-network
    rabbitmq:
        image: rabbitmq:3-management
        ports:
            - "5672:5672"       # AMQP
            - "15672:15672"     # Web UI
        environment:
            RABBITMQ_DEFAULT_USER: admin
            RABBITMQ_DEFAULT_PASS: admin123
        healthcheck:
            test: ["CMD-SHELL", "rabbitmq-diagnostics status"]
            interval: 10s
            timeout: 10s
            retries: 3
        networks:
            - chatapp-network

    redis:
        image: redis
        restart: always
        ports:
            - "6379:6379"
        healthcheck:
            test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
            interval: 10s
            timeout: 10s
            retries: 3
        networks:
            - chatapp-network

    auth-service:
        extra_hosts:
            - "host.docker.internal:host-gateway"
        ports: # TODO: remove when expose api gateway
            - "5000:5000" 
            - "5001:5001"
        build:
            context: .
            dockerfile: src/ChatApp.Auth/Dockerfile
        environment:
            - ASPNETCORE_ENVIRONMENT=Docker
            - ASPNETCORE_URLS=http://+:5000 #;https://+:5001 for future https
        depends_on:
            postgres:
                condition: service_healthy
            rabbitmq:
                condition: service_healthy
        networks:
            - chatapp-network
    
    user-service:
        extra_hosts:
            - "host.docker.internal:host-gateway"
        ports: # TODO: remove when expose api gateway
            - "5002:5002" 
            - "5003:5003"
        build:
            context: .
            dockerfile: src/ChatApp.User/Dockerfile
        environment:
            - ASPNETCORE_ENVIRONMENT=Docker
            - ASPNETCORE_URLS=http://+:5002 #;https://+:5003 for future https
        depends_on:
            postgres:
                condition: service_healthy
            rabbitmq:
                condition: service_healthy
        networks:
            - chatapp-network

    chat-service:
        extra_hosts:
            - "host.docker.internal:host-gateway"
        ports: # TODO: remove when expose api gateway
            - "5004:5004" 
            - "5005:5005"
        build:
            context: .
            dockerfile: src/ChatApp.Chat/Dockerfile
        environment:
            - ASPNETCORE_ENVIRONMENT=Docker
            - ASPNETCORE_URLS=http://+:5004 #;https://+:5005 for future https
        depends_on:
            postgres:
                condition: service_healthy
            rabbitmq:
                condition: service_healthy
            redis:
                condition: service_healthy
        networks:
            - chatapp-network
            

networks:
    chatapp-network:
        driver: bridge

volumes:
    pgdata:
